spell {
	font-family: Verdana;
	font-size: 17px;
	font-weight: bold;
	color: #312D24;
	text-align: left;
}

teammate {
	font-family: Verdana;
	font-size: 16px;
	font-style:italic;
	color: #ee3131;
	text-align: left;
}

opponent {
	font-family: Verdana;
	font-size: 16px;
	font-style:italic;
	color: #3169ae;
	text-align: left;
}

countdown {
	font-family: Verdana;
	font-size: 30px;
	font-weight: bold;
	color: #3169ae;
	text-align: center;
}